.container{
	padding-top: 20px;
	padding-bottom: 20px;
}
.search{
	padding: 10px 50px;
}
#avatar{
	height: 50px;
	width: 80px;
}
#template{
	border: solid 1px #ccc;
	box-shadow: 4px 4px 4px #ccc;
	padding: 15px;
	margin: 10px;
}
.avatarfl {
	height: 40px;
	width: 40px;
	border: solid 1px #ccc;
	border-radius: 50%;
}
